// lightTheme
$fontColor: #0b0a0a;
$btnColor: #205eb0;
$inputHoverColor: #b2aeae;
$inputActiveColor: #ccc8c8;
$inputBorderColor: #585050;
$btnBgColor: #2a75db;
$optionBgColor: #f8f8f8;
$inputBgColor: #887c7c;
$hoverColor: #dfdada;
$bgColor: #f8f8f8;
$focusColor: #aac9f1;

// darkTheme
$fontColorDark: #f3f3f3;
$btnColorDark: #aac9f1;
$inputHoverColorDark: #797373;
$inputActiveColorDark: #6c6767;
$inputBorderColorDark: #dfdada;
$btnBgColorDark: #b9d5fc;
$optionBgColorDark: #424242;
$inputBgColorDark: #887c7c;
$hoverColorDark: #585050;
$bgColorDark: #1e1d1d;
$focusColorDark: #f0f6ff;
